@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: url('/fonts/MPLUSRounded1c-Regular.ttf');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'M PLUS Rounded 1c';
	src: url('/fonts/MPLUSRounded1c-Bold.ttf');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
